# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
.venv/
.env

# Project specific
ingestion_cache.json
docs_input/
lancedb_data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.gitattributes
